<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thomas.bateau">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".BateauApplication"
        android:allowBackup="true"
        android:icon="@mipmap/bateau"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bateau_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bateau">
        <service
            android:name=".evenements.EvenementNotificationService"
            android:permission="android.permission.BIND_JOB_SERVICE"></service>

        <receiver
            android:name=".BootDeviceReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <activity android:name=".evenements.EvenementsListActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".evenements.EvenementViewActivity" android:parentActivityName=".MainActivity" />
        <activity android:name=".ParamsActivity" />
        <activity android:name=".coins.CoinActivity" />
        <activity android:name=".reportActivity.alertActivity.AlertActivity" />
        <activity android:name=".reportActivity.spotActivity.SpotActivity" />
        <activity android:name=".CarteActivity" />
        <activity android:name=".meteo.MeteoActivity" />
        <activity android:name=".alert.NaufrageActivity" />
        <activity android:name=".spot.FisherSpotActivity" />
        <activity android:name=".spot.ScientistSpotActivity"/>
        <activity android:name=".spot.SkipperSpotActivity"/>
        <activity android:name=".spot.DiverSpotActivity"/>
        <activity android:name=".spot.KitterSpotActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".alert.AlertMeteoActivity" />
        <activity android:name=".alert.HelpActivity" />
        <activity android:name=".alert.RemainsActivity" />

        <service
            android:name=".MyLocationService"
            android:foregroundServiceType="location" />
    </application>

</manifest>